@import "tailwindcss";

:root {
  --header-logo-height: 90px;
  --header-navbar-height: 56px;
  --header-height: calc(
    var(--header-logo-height) + var(--header-navbar-height)
  );
  --footer-height: 100px;
  --main-min-height: calc(100vh - var(--header-height) - var(--footer-height));

  @media (max-width: 768px) {
    --footer-height: 160px;
  }

  --color-bg: #ffffff;
  --color-navbar-bg: #ab0a36;
  --color-navbar-text: #ffffff;

  --color-card-bg: #f9f9f9;
  --color-card-bg-unavailable: #ffd7e4cb;

  --color-select: #ffb6c9;
  --color-text: #562230;
  --color-badge: #f4611e;
  --color-badge-light: #f0773f;
  --color-button-pink: #ff1764;
  --color-button-pink-light: #ff368a;
}

.glow-effect {
  position: absolute;
  bottom: 0;
  left: 48.8%;
  transform: translateX(-50%);
  width: 60%;
  height: 128px;
  filter: blur(15px);
  z-index: -10;
  background: linear-gradient(to top, var(--color-text), transparent);
}

h2 {
  font-family: var(--font-inter), sans-serif;
  font-weight: 500;
  font-style: italic;
  color: var(--color-text);
}

body {
  background-color: var(--color-bg);
  font-family: var(--font-inter), sans-serif;
  font-style: normal;
  font-weight: 300;
  color: var(--color-text);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-out;
}

.animate-fade-out {
  animation: fadeOut 0.5s ease-out;
}
